{% extends 'parts_manager/base.html' %}

{% block content %}
    {% if partslist %}
        <h2>在庫一覧</h2>
        <table class="table table-hover">
            <thead>
            <tr class="table-dark">
                <th scope="col">#</th>
                <th scope="col">保管場所コード</th>
                <th scope="col">保管場所</th>
                <th scope="col">部品コード</th>
                <th scope="col">部品名</th>
                <th scope="col">入庫数</th>
                <th scope="col">出庫数</th>
                <th scope="col">入力日</th>
            </tr>
            </thead>
            <tbody>
            {% for parts in partslist %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <th>{{ parts.location.code }}</th>
                    <th>{{ parts.location.name }}</th>
                    <th>{{ parts.parts.code }}</th>
                    <th>
                        <a href="{% url 'parts_manager:parts_detail' parts.id %}">{{ parts.parts.name }}</a>
                    </th>
                    <th>{{ parts.warehousing }}</th>
                    <th>{{ parts.shipping }}</th>
                    <th>{{ parts.input_date|date:"Y-m-d" }}</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
{% endblock %}