{% extends 'parts_manager/base.html' %}
{% load humanize %}

{% block content %}

    {% if parts_list %}
        <h2>在庫一覧</h2>
        <table class="table table-hover">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">保管場所コード</th>
                <th scope="col">保管場所</th>
                <th scope="col">部品コード</th>
                <th scope="col">部品名</th>
                <th scope="col">在庫数</th>
            </tr>
            </thead>
            <tbody>
            {% for parts in parts_list %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <th>{{ parts.location__code }}</th>
                    <th>{{ parts.location__name }}</th>
                    <th>{{ parts.parts__code }}</th>
                    <th>
                        <a href="{% url 'parts-manager:detail' parts.parts_id %}">{{ parts.parts__name }}</a>
                    </th>
                    <th class="text-right">{{ parts.stock|intcomma }}</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No parts are available.</p>
    {% endif %}

{% endblock %}