{% extends 'parts_manager/base.html' %}

{% block content %}
    {% if partslist %}
        <h2>在庫一覧</h2>
        <table class="table table-hover">
            <thead>
            <tr class="table-dark">
                <th scope="col">#</th>
                <th scope="col">保管場所コード</th>
                <th scope="col">保管場所</th>
                <th scope="col">部品コード</th>
                <th scope="col">部品名</th>
                <th scope="col">在庫数</th>
            </tr>
            </thead>
            <tbody>
            {% for parts in partslist %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <th>{{ parts.location__code }}</th>
                    <th>{{ parts.location__name }}</th>
                    <th>{{ parts.parts__code }}</th>
                    <th>
                        <a href="{% url 'parts_manager:parts_detail' parts.parts_id %}">{{ parts.parts__name }}</a>
                    </th>
                    <th>{{ parts.stock }}</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No parts are available.</p>
    {% endif %}
{% endblock %}